# postgreSQL DSN, put your password in ~/.pgpass file (and set mode 0600)
CRITICAL_DIR_PG_DSN="postgres://dev@192.168.2.253:15432/dev"
CRITICAL_DIR_DATATABLE='criticalmaps_data_dev'
CRITICAL_DIR_STATSTABLE='criticalmaps_stats_dev'

# optional value
# CRITICAL_DIR_REDIS_HOST='redis'

# Remember: These paths to be specified as seen from inside the running Docker container.
CRITICAL_DIR_IMG_DIR=/home/cl/work/criticalmaps--richtungspfeil/objs/
CRITICAL_DIR_API_DOWNLOADER_JSON_OUTDIR=/home/cl/work/criticalmaps--richtungspfeil/cmdata/
