[{"device": "67bf", "latitude": 34123456, "longitude": 134567890, "timestamp": $TS},{"device": "28ef", "latitude": -90000001, "longitude": 10234567, "timestamp": $TS},{"device": "3c0c", "latitude": 52123456, "longitude": 4123456, "timestamp": $TS},{"device": "7760", "latitude": 52123456, "longitude": 13654321, "timestamp": $TS},{"device": "e74c", "latitude": 52123456, "longitude": 13123456, "timestamp": $TS},{"device": "31d6", "latitude": 48123456, "longitude": 8987654, "timestamp": $TS},{"device": "98a", "latitude": 53123456, "longitude": 10123456, "timestamp": $TS},{"device": "c325", "latitude": 48123456, "longitude": 17654321, "timestamp": $TS}]
